<!--<h1>Value :   {{ title }}   </h1>

<p>employees : </p>

<p>
  {{ year }}
</p>

{{ employees }}-->
<!-- wrong use !! --> 
<!--<ul>
  <li *ngFor="let u of users" >

    <strong>{{ u.fullname }}</strong><br>
    <small>{{ u.phone }}</small>
  </li>
  
</ul>
-->

<!--
<ul>
  <li *ngFor="let e of employees" >

    <strong  *ngIf=" e.year < 2000 "  class="old">{{ e.fullname }}</strong>
    <strong *ngIf=" e.year > 2000 "    class="new">{{ e.fullname }}</strong>
    
    
    <br>


    <small>{{ e.email }} / {{ e.address }}</small>
  </li>
  
</ul>-->

<!--***********************************************************************************-->
<!--

<h1 [style.color]="titleColor">this is my photo</h1>

<button   (click)="toggleImage()"   >toggle image</button> <br>


<img *ngIf=" showImage " [src]="gallery[index]" alt="" width="250px">
<br>


<button (click)="previous()" > previous</button>
<button (click)="next()" >next</button> -->
<!--
<p> {{ today | date:'medium' }} </p>


<p> {{ 1598956223215 | number }} </p>

<p> {{ 2580 | currency:'TND' }} </p>

<p> {{ 'abc' | uppercase }} </p>

<p> {{ 'ABC' | lowercase }} </p>


{{ 'tchourabi@gmail.com' | email }}

<br>


{{ 'test@yahoo.fr' | email }}-->


<!--
<div class="feild"  (mousemove)="isMoving($event)"  >
  <div class="ball" [style.top]="y"  [style.left]="x" ></div>
</div>-->



<div class="messages">
  <ul>
    <li *ngFor="let m of messages">
      <p><strong>{{ m.username }}</strong> <br>  {{m.message}} <br> <small>{{ m.date | date:'medium' }}</small> </p>
    </li>
  </ul>
</div>

<p *ngIf="isTyping" >
  <small>Typing...</small>
</p>
<div>
  <input type="text" (keyup)="userTyping($event)" > <!--<button>send</button>-->
</div>